<h2>Edit the <%= @user.username %> profile</h2>

<form accept-charset="UTF-8" action="/users/<%= @user.id %>"  method="post">


    <input name="_method" type="hidden" value="patch" />
    
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <label for="username">User name:</label>
    <input type="text" id="username" name="user[username]" value="<%= @user.username %>"><br><br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="user[email]" value="<%= @user.email %>"><br><br>
    <label for="password">Paassword:</label>
    <input type="password" id="password" name="user[password]" value="<%= @user.password %>"><br><br>    
    
    <input type="submit" value="Update">
</form> 
<a href="/users">User list</a>