<h1 class='title'>There are <%= @users.count%> Users Stored</h1>
<ul class='ulnot'>
    <% @users.each do |user| %>
        <div class='box'>
            <li class='name'><%= user.username%></li>
            <li class='name'><%= user.email%></li>
            <li class='name'><%= user.address%></li>
            <li class='name'><%= user.age%></li>
            <li class='name'><%= user.country%></li>
            <li class='buttonContainer'>
                <a href="/users/<%= user.id %>"><button type='button' class='button'>Show</button></a>
                <a href="/users/<%= user.id %>/edit"><button type='button'class='button'>Edit</button></a>
                <a href="/users/<%= user.id %>" data-method="delete" data-confirm="Are you sure?"><button type='button' class='button'>Delete</button></a>
            </li>
        </div>
        
    <% end %>
</ul>
<div class='title'>
    <%= link_to "<< Back to User new", new_user_path %>
</div>